<app-main-layout>
  <ng-container main-content>
    <div id="documents-wrapper">
      <app-document-card
        *ngFor="let document of documents"
        [document]="document"
        (onSeeDocumentClick)="onSeeDocumentClick(document)"
        (onLinkDocumentClick)="onLinkDocumentClick(document)"
        (onDeleteDocumentClick)="onDeleteDocumentClick(document)"
      ></app-document-card>
    </div>

    <app-document-viewer-dialog [(visible)]="documentDialogVisible" [document]="visibleDocument"></app-document-viewer-dialog>
    <app-link-document-to-bill-dialog
      [(visible)]="linkDocumentToBillDialogVisible"
      [bills]="linkableBills"
      (onValidate)="onValidateDocumentLink($event)"
    ></app-link-document-to-bill-dialog>
  </ng-container>
</app-main-layout>
