p-menu {
  --p-menu-list-padding: 0.5rem;
}

:host ::ng-deep .p-menu {
  height: 100%;
  border-top: unset;
  border-top-left-radius: unset;
  border-bottom-left-radius: unset;

  .p-submenu-label {
    font-size: var(--app-side-menu-title-font-size);
  }

  .p-menu-item-link {
    font-size: var(--app-side-menu-item-font-size);
  }
}
