<app-main-layout>
  <ng-container main-content>
    <div id="top-bar">
      <div id="upload-file-btn" (click)="uploadInput.click()">
        <p-button label="Upload bills" icon="pi pi-file-arrow-up"></p-button>
        <input #uploadInput type="file" accept=".pdf" [multiple]="true" (change)="onUpload($event)">
      </div>
      <div class="buttons-wrapper">
        <p-button *ngIf="createNewSubmissionButtonVisible"
                  (click)="showSubmissionNameDialog = true"
                  label="Create new submission"
                  icon="pi pi-folder-plus"
                  severity="info"
        />
        <p-button *ngIf="selectedBills.length > 1"
                  (click)="downloadMergedBillsDocuments()"
                  label="Download merge of documents"
                  icon="pi pi-file-check"
                  severity="success"
        />
      </div>
    </div>

    <app-edit-name-dialog
      header="Submission name"
      [(showDialog)]="showSubmissionNameDialog"
      (onValidate)="onValidateNewSubmissionName($event)"
    >
    </app-edit-name-dialog>

    <app-bills-table
      [bills]="bills"
      [makeBillSelectable]="true"
      [(selectedBills)]="selectedBills"
      (selectedBillsChange)="onSelectedBillChange()"
      [displayMarkAsPaidButton]="true"
      [displayMarkAsReimbursedButton]="true"
      (onMarkBillAsPaid)="onMarkAsPaid($event)"
      (onMarkBillAsReimbursed)="onMarkAsReimbursed($event)"
    ></app-bills-table>
  </ng-container>
</app-main-layout>

