#top-bar {
  display: flex;
  justify-content: space-between;
}

.incomplete-bill {
  background-color: orange;
}

#upload-file-btn {
  input {
    display: none;
  }
}

p-table {
  .bill-name {
    cursor: pointer;
  }

  .bill-action {
    display: flex;
    gap: 0.5rem;
    align-items: center;
  }
}
