<app-main-layout [loading]="pageLoading">
  <ng-container main-content>
    <div id="top-bar">
      <div id="upload-file-btn" (click)="uploadInput.click()">
        <p-button label="Upload bills" icon="pi pi-file-arrow-up"></p-button>
        <input #uploadInput type="file" accept=".pdf" [multiple]="true" (change)="onUpload($event)">
      </div>
      <p-button *ngIf="billsToMerge.length > 1"
                (click)="downloadMergedBillsDocuments()"
                label="Merge and download {{billsToMerge.length}} bills"
                icon="pi pi-file-check"
      />
    </div>

    <p-table [value]="bills">
      <ng-template #header>
        <tr>
          <th></th>
          <th>Date</th>
          <th>Name</th>
          <th>Amount</th>
          <th>Beneficiary</th>
          <th>Status</th>
          <th>Actions</th>
        </tr>
      </ng-template>
      <ng-template #body let-bill>
        <tr [ngClass]="{'incomplete-bill' : !bill.name || !bill.amount || !bill.beneficiary}">
          <td><p-checkbox (onChange)="onCheckboxChange($event, bill)" [binary]="true" /></td>
          <td>{{ bill.dateTime | date: 'longDate' }}</td>
          <td class="bill-name" [routerLink]="'/bill/' + bill.id">{{ bill.name }}</td>
          <td>{{ bill.amount ?? 'N/A' }} {{ bill.currency | currency }}</td>
          <td>{{ bill.beneficiary?.firstname ?? "" }}</td>
          <td><p-badge [value]="billStatusToString(bill.status)" [severity]="billStatusBadge(bill.status)" /></td>
          <td class="bill-action buttons-wrapper">
            <p-button icon="pi pi-dollar" [rounded]="true" pTooltip="Mark as paid" showDelay="500" hideDelay="300" severity="help" />
            <p-button icon="pi pi-check-circle" [rounded]="true" pTooltip="Mark as reimbursed" showDelay="500" hideDelay="300" severity="success" />
            <p-button icon="pi pi-pencil" [rounded]="true" pTooltip="Edit" showDelay="500" hideDelay="300" severity="info" />
            <p-button icon="pi pi-arrow-right" [rounded]="true"  [routerLink]="'/bill/' + bill.id" pTooltip="See bill" showDelay="500" hideDelay="300" />
          </td>
        </tr>
      </ng-template>
    </p-table>
  </ng-container>
</app-main-layout>

