<app-main-layout>
  <ng-container main-content>
    <p-fieldset legend="Submission detail" [toggleable]="true">
      <div class="card-body">
        <div class="card-entry">
          <label>Name: </label>
          <span>{{ submission.name }}</span>
        </div>
        <div class="card-entry">
          <label>Created on: </label>
          <span>{{ submission.dateTime | date: 'longDate' }}</span>
        </div>
      </div>
    </p-fieldset>

    <app-bills-table
      [bills]="submission.bills"
    ></app-bills-table>
  </ng-container>
</app-main-layout>
