<div id="side-menu">
  <div id="menu-header"></div>
  <div id="menu-content">
    <div class="menu-group" *ngFor="let item of items">
      <div class="menu-group-title">
        <span>{{ item.label | uppercase }}</span>
      </div>
      <div class="menu-group-items">
        <div class="menu-item label-with-icon" [class.active]="isCurrentPage(child.link)" *ngFor="let child of item.items" [routerLink]="child.link">
          <i *ngIf="child.icon" [class]="child.icon"></i>
          <span>{{ child.label }}</span>
          <span *ngIf="child.badgeValue && child.badgeValue > 0">
            <p-badge [value]="child.badgeValue" severity="danger" badgeSize="small"></p-badge>
          </span>
        </div>
      </div>
    </div>
  </div>
  <div id="menu-footer">
    <div id="log-out-button" (click)="logout()">
      <div id="user-detail">
        <p-avatar image="https://primefaces.org/cdn/primeng/images/demo/avatar/asiyajavayant.png" size="normal" shape="circle" />
        <span>{{ userFirstname }}</span>
      </div>
      <i class="pi pi-sign-out"></i>
    </div>
  </div>
</div>
