#top-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 1rem;
}

#documents-buttons-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 2rem 0;

  #upload-file-btn {
    input {
      display: none;
    }
  }
}

#comments-wrapper {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 1rem;

  app-comment {
    display: block;
    width: 100%;
  }
  #post-comment-wrapper {
    margin-top: 2rem;
  }

  #post-comment-wrapper, .p-floatlabel, textarea {
    width: 100%;
  }
}
