<p-table [value]="submissions" dataKey="id">
  <ng-template #header>
    <tr>
      <th style="width: 5rem"></th>
      <th>Date</th>
      <th>eClaimId</th>
      <th>Name</th>
      <th>Amount</th>
      <th>Actions</th>
    </tr>
  </ng-template>
  <ng-template #body let-submission let-expanded="expanded">
    <tr class="submission-row-header">
      <td>
        <p-button type="button" pRipple [text]="true" [rounded]="true" [plain]="true"
                  [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'" [pRowToggler]="submission"/>
      </td>
      <td>{{ submission.dateTime | date: 'longDate' }}</td>
      <td>
        @if (submission.eclaimId) {
          {{ submission.eclaimId }}
        } @else {
          <span class="not-specified-warning">
            <i class="pi pi-exclamation-triangle"></i>
            N/S
          </span>
        }
      </td>
      <td>{{ submission.name }}</td>
      <td>{{ submission.totalUsdAmount | currency }}</td>
      <td class="bill-action buttons-wrapper">
        <p-button
          *ngIf="markAsPaidSubmissionButtonVisible(submission)"
          icon="pi pi-dollar"
          [rounded]="true"
          (onClick)="onMarkAsPaid.emit(submission)"
          pTooltip="Mark as paid"
          showDelay="500"
          hideDelay="300"
          severity="help"
        />
        <p-button
          *ngIf="markAsReimbursedSubmissionButtonVisible(submission)"
          icon="pi pi-check-circle"
          [rounded]="true"
          (onClick)="onMarkAsReimbursed.emit(submission)"
          pTooltip="Mark as reimbursed"
          showDelay="500"
          hideDelay="300"
          severity="success"
        />
        <p-button
          icon="pi pi-pencil"
          [rounded]="true"
          [routerLink]="'/submissions/' + submission.id + '/edit'"
          pTooltip="Edit"
          showDelay="500"
          hideDelay="300"
          severity="info"
        />
        <p-button
          icon="pi pi-trash"
          [rounded]="true"
          (onClick)="onDeleteSubmission.emit(submission)"
          pTooltip="Delete"
          showDelay="500"
          hideDelay="300"
          severity="danger"
        />
        <p-button
          icon="pi pi-arrow-right"
          [routerLink]="'/submissions/' + submission.id"
          [rounded]="true"
          pTooltip="See bill"
          showDelay="500"
          hideDelay="300"
        />
      </td>
    </tr>
  </ng-template>
  <ng-template #expandedrow let-submission>
    <tr>
      <td colspan="7" style="padding-left: 5rem">
        <app-bills-table
          [bills]="submission.bills"
        ></app-bills-table>
      </td>
    </tr>
  </ng-template>
</p-table>
