<app-main-layout>
  <ng-container main-content>
    <app-top-bar>
      <h1 left>Submissions</h1>
      <p-floatlabel right *ngIf="submissions.length > 0">
        <p-iconfield>
          <p-inputicon class="pi pi-search" />
          <input pInputText id="input-search" [(ngModel)]="searchKeyword" (keyup)="applySearchFilter()" autocomplete="off" />
        </p-iconfield>
        <label for="input-search">Search</label>
      </p-floatlabel>
    </app-top-bar>

    <app-submissions-table
      *ngIf="submissions.length > 0"
      [submissions]="filteredSubmissions"
      (onMarkAsPaid)="onMarkSubmissionAsPaid($event)"
      (onMarkAsReimbursementInProgress)="onMarkSubmissionAsReimbursementInProgress($event)"
      (onMarkAsReimbursed)="onMarkSubmissionAsReimbursed($event)"
      (onDeleteSubmission)="onDeleteSubmission($event)"
    ></app-submissions-table>
  </ng-container>
</app-main-layout>
