#top-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}

p-fieldset {
  display: block;
  margin-top: 1rem;

  .card-body {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    .card-entry {
      label {
        font-weight: bold;
      }
    }
  }
}

#documents-buttons-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 2rem 0;

  #upload-file-btn {
    input {
      display: none;
    }
  }
}

.p-tabpanels.p-component {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
}

#comments-wrapper {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 1rem;

  app-comment {
    display: block;
    width: 100%;
  }
  #post-comment-wrapper {
    margin-top: 2rem;
  }

  #post-comment-wrapper, .p-floatlabel, textarea {
    width: 100%;
  }
}
