#top-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}

p-card {
  display: block;
  margin-top: 1rem;

  .card-body {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    .card-entry {
      label {
        font-weight: bold;
      }
    }
  }
}

#upload-file-button-wrapper {
  display: flex;
  justify-content: right;
  padding: 2rem;

  #upload-file-btn {
    input {
      display: none;
    }
  }
}

.p-tabpanels.p-component {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
}
