<app-main-layout>
  <ng-container main-content>
    <div id="top-bar">
      <p-button routerLink="" icon="pi pi-arrow-left" [rounded]="true"/>
      <div class="buttons-wrapper">
        <p-button *ngIf="!bill.paidDateTime" severity="help"
                  icon="pi pi-dollar"
                  (onClick)="onMarkAsPaid()"
                  pTooltip="Mark as paid"
                  showDelay="500"
                  hideDelay="300"></p-button>
        <p-button *ngIf="bill.status?.valueOf() !== BillStatus.REIMBURSED.valueOf()" severity="success"
                  icon="pi pi-check-circle"
                  (onClick)="onMarkAsReimbursed()"
                  pTooltip="Mark as reimbursed"
                  showDelay="500"
                  hideDelay="300"></p-button>
        <p-button severity="info" icon="pi pi-pencil" [routerLink]="'/bill/' + bill.id + '/edit'"></p-button>
        <p-button (onClick)="onDeleteBill()" severity="danger" icon="pi pi-trash"></p-button>
      </div>
    </div>

    <p-fieldset legend="Bill detail" [toggleable]="true">
      <div class="card-body">
        <div class="card-entry">
          <label>Name: </label>
          <span>{{ bill.name }}</span>
        </div>
        <div class="card-entry">
          <label>Amount: </label>
          <span>{{ bill.amount ?? 'N/A' }} {{ bill.currency | currency }}</span>
        </div>
        <div class="card-entry">
          <label>Provider: </label>
          <span>{{ bill.provider }}</span>
        </div>
        <div class="card-entry">
          <label>Status: </label>
          <span><p-badge [value]="billStatusToString(bill.status)" [severity]="billStatusBadge(bill.status)"/></span>
        </div>
        <div *ngIf="bill.paidDateTime" class="card-entry">
          <label>Paid on: </label>
          <span>{{ bill.paidDateTime | date: 'longDate' }}</span>
        </div>
        <div class="card-entry">
          <label>Created on: </label>
          <span>{{ bill.dateTime | date: 'longDate' }}</span>
        </div>
        <div class="card-entry">
          <label>Beneficiary: </label>
          <span>{{ bill.beneficiary?.firstname }}</span>
        </div>
      </div>
    </p-fieldset>

    <p-fieldset [legend]="'Comments (' + comments.length + ')'" [toggleable]="true" [collapsed]="false">
      <div id="comments-wrapper">
        <app-comment
          *ngFor="let comment of comments"
          [comment]="comment"
          (onEditEvent)="onShowEditCommentDialog(comment)"
          (onDeleteEvent)="onDeleteComment(comment.id)"
        ></app-comment>

        <div id="post-comment-wrapper" class="textarea-wrapper">
          <p-floatlabel>
            <textarea pTextarea id="bill-comment-input"  [(ngModel)]="newCommentContent" rows="5" cols="40" style="resize: none"></textarea>
            <label for="bill-comment-input">Comment</label>
          </p-floatlabel>
          <p-button [disabled]="newCommentContent.length === 0" severity="success" label="Add" (click)="onAddComment()"/>
        </div>
      </div>
    </p-fieldset>

    <app-edit-comment-dialog
      [comment]="editComment"
      (onValidateCommentEdit)="onEditComment($event)"
      [(showDialog)]="editCommentDialogVisible"
    ></app-edit-comment-dialog>

    <p-fieldset [legend]="'Documents (' + documents.length + ')'" [toggleable]="true">
      <div id="documents-buttons-wrapper">
        <p-button *ngIf="documents.length > 1"
                  (click)="downloadBillDocumentsMerged()"
                  label="Download {{documents.length}} documents"
                  icon="pi pi-download"
                  severity="success"
        />

        <div id="upload-file-btn" (click)="uploadInput.click()">
          <p-button label="Upload documents" icon="pi pi-file-arrow-up"></p-button>
          <input #uploadInput type="file" accept=".pdf" [multiple]="true" (change)="onUploadDocuments($event)">
        </div>
      </div>

      <p-tabs [value]="documents[0].id" *ngIf="documents.length > 0">
        <p-tablist>
          @for (document of documents; track document.id; let idx = $index) {
            <p-tab [value]="document.id">Document {{ idx + 1 }}</p-tab>
          }
        </p-tablist>
        <p-tabpanels>
          @for (document of documents; track document.id) {
            <p-tabpanel [value]="document.id">
              <div class="buttons-wrapper">
                <p-button icon="pi pi-download" (onClick)="downloadBillDocument(document.id)"></p-button>
                <p-button severity="danger" icon="pi pi-trash" (onClick)="onDeleteBillDocument(document.id)"></p-button>
              </div>
              <pdf-viewer
                [src]="document.url"
                [render-text]="true"
                [original-size]="false"
                [show-borders]="true"
                [fit-to-page]="true"
                style="width: 50vw; height: 100vh"
              >
              </pdf-viewer>
            </p-tabpanel>
          }
        </p-tabpanels>
      </p-tabs>
    </p-fieldset>
  </ng-container>
</app-main-layout>
