<div id="bill-filters-wrapper">
  <p-multiselect
    *ngIf="beneficiaryOptions.length > 1"
    [options]="beneficiaryOptions"
    [(ngModel)]="selectedBeneficiaries"
    (onChange)="onSelectChange()"
    placeholder="Select beneficiaries"
    optionLabel="name"
    display="chip">
  </p-multiselect>

  <p-multiselect
    *ngIf="statusOptions.length > 1"
    [options]="statusOptions"
    [(ngModel)]="selectedStatus"
    (onChange)="onSelectChange()"
    placeholder="Select status"
    optionLabel="name"
    display="chip">
  </p-multiselect>
</div>
