<div id="bill-filters-wrapper">
  <div id="bills-to-pay-only-filter-wrapper">
    <p-checkbox (onChange)="onSelectChange()" [(ngModel)]="showBillsToPayOnly" [binary]="true" />
    <span>To pay</span>
  </div>

  <p-multiselect
    *ngIf="beneficiaryOptions.length > 1"
    [options]="beneficiaryOptions"
    [(ngModel)]="selectedBeneficiaries"
    (onChange)="onSelectChange()"
    placeholder="Select beneficiaries"
    optionLabel="name"
    display="chip">
  </p-multiselect>

  <p-multiselect
    *ngIf="statusOptions.length > 1"
    [options]="statusOptions"
    [(ngModel)]="selectedStatus"
    (onChange)="onSelectChange()"
    placeholder="Select status"
    optionLabel="name"
    display="chip">
  </p-multiselect>

  <p-button icon="pi pi-times" *ngIf="selectedBeneficiaries.length > 0 || selectedStatus.length > 0" (onClick)="resetFilters()"></p-button>
</div>
