<div id="navigation-arrows-wrapper">
  <div>
    <div [class.invisible]="!routerLinks?.leftRouterLink?.link"
         class="arrow-button"
         [routerLink]="routerLinks?.leftRouterLink?.link"
         [queryParams]="routerLinks?.leftRouterLink?.queryParams"
    >
      <i class="pi pi-arrow-left"></i>
    </div>

    <span *ngIf="navigationIndex">{{ navigationIndex.currentPage + '/' + navigationIndex.totalPages }}</span>

    <div [class.invisible]="!routerLinks?.rightRouterLink?.link"
         class="arrow-button"
         [routerLink]="routerLinks?.rightRouterLink?.link"
         [queryParams]="routerLinks?.rightRouterLink?.queryParams"
    >
      <i class="pi pi-arrow-right"></i>
    </div>
  </div>
</div>
