<div class="comment">
  <div class="comment-header">
    <div class="user-wrapper" *ngIf="comment.user">
      <app-user-avatar [user]="comment.user"></app-user-avatar>
      <span>{{ comment.user.firstname }}</span>
      <span class="comment-datetime">• {{ comment.dateTime | date: 'longDate' }}</span>
    </div>
    <div class="comment-actions" *ngIf="comment.user?.id === userDataService.getCurrentUser().id">
      <p-button
        icon="pi pi-pencil"
        (onClick)="onEditEvent.emit()"
        size="small"
        [rounded]="true"
        [text]="true"
        severity="info"
      >
      </p-button>
      <p-button
        icon="pi pi-trash"
        (onClick)="onDeleteEvent.emit()"
        size="small"
        [rounded]="true"
        [text]="true"
        severity="danger"
      ></p-button>
    </div>
  </div>
  <div class="comment-content">
    {{ comment.content }}
  </div>
</div>
