.comment {
  .comment-header, .comment-footer {
    display: flex;
  }

  .comment-header {
    justify-content: space-between;
    align-items: center;

    .user-wrapper {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      font-size: var(--app-comment-datetime-font-size);
      font-weight: var(--app-font-medium);
    }
  }

  .comment-content {
    padding-left: calc(var(--p-avatar-width) + 0.5rem);
  }

  .comment-datetime {
    font-weight: var(--app-font-regular);
  }
}
