<p-dialog [visible]="visible" (visibleChange)="visibleChange.emit($event)" [modal]="true">
  <p-table [value]="bills" stripedRows>
    <ng-template #header>
      <tr>
        <th></th>
        <th pSortableColumn="dateTime">Date
          <p-sortIcon field="dateTime"/>
        </th>
        <th>Name</th>
        <th>Amount</th>
        <th pSortableColumn="beneficiary.firstname">Beneficiary
          <p-sortIcon field="beneficiary.firstname"/>
        </th>
        <th pSortableColumn="status">Status
          <p-sortIcon field="status"/>
        </th>
        <th>Paid</th>
      </tr>
    </ng-template>
    <ng-template #body let-bill>
      <tr>
        <td><p-radiobutton [inputId]="bill.id" [value]="bill" [(ngModel)]="selectedBill" /></td>
        <td>{{ bill.dateTime | date: 'longDate' }}</td>
        <td class="bill-name">{{ bill.name ?? 'N/S' }}</td>
        <td>{{ bill.amount ? (bill.amount | currency:bill.currency) : 'N/S' }}</td>
        <td>{{ bill.beneficiary?.firstname ?? 'N/S' }}</td>
        <td>
          <app-bill-status-badge [bill]="bill"></app-bill-status-badge>
        </td>
        <td>
          @if (bill.paidDateTime) {
            <i class="pi pi-check"></i>
          }
        </td>
      </tr>
    </ng-template>
  </p-table>
  <ng-template #footer>
    @if (selectedBill) {
      <p-button [disabled]="!selectedBill" severity="success" label="Add to bill" (click)="onValidate.emit(selectedBill)"/>
    }
  </ng-template>
</p-dialog>
